name: Build

on:
  pull_request:
    branches:
      - main
  workflow_dispatch:

concurrency:
  group: build-${{ github.ref }}
  cancel-in-progress: true

jobs:
  windows:
    name: Build Windows Artifact
    uses: ./.github/workflows/windows-build.yml
    with:
      artifact-name: better-fabric-monitor-windows
    secrets: inherit
